@page "/Sample2"
@using static BlazorApp1.Shared.PptxChangeTextList;

<PageTitle>Sample2</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<PptxChangeTextList items="@_items" targetFilePath="slide/1.pptx" outputFilePath="HighFive.pptx" />

@code {
    private readonly Item[] _items = new Item[]
    {
        new() { Label = "変数１：会社名", EntryIndex = 2, Nodes = new int[] {1, 0, 1, 6, 3, 2, 2, 1, 1, 0, }},
        new() { Label = "変数２：日付", EntryIndex = 2, Nodes = new int[] {1, 0, 1, 6, 4, 2, 2, 1, 1, 0, }},
        new() { Label = "変数３：企業理念", EntryIndex = 5, Nodes = new int[] {1, 0, 1, 6, 2, 2, 1, 1, 0, }},
        new() { Label = "変数４：企業理念具体例", EntryIndex = 5, Nodes = new int[] {1, 0, 1, 8, 2, 2, 2, 1, 1, 0, }},
        new() { Label = "変数５：企業理念具体例（文）", EntryIndex = 5, Nodes = new int[] {1, 0, 1, 8, 3, 2, 2, 1, 1, 0, }},
        new() { Label = "変数名６：会社名", EntryIndex = 7, Nodes = new int[] {1, 0, 1, 5, 3, 2, 2, 1, 1, 0, }},
        new() { Label = "変数名７：代表名", EntryIndex = 7, Nodes = new int[] {1, 0, 1, 5, 2, 2, 2, 1, 1, 0, }},
        new() { Label = "変数名８：設立日", EntryIndex = 7, Nodes = new int[] {1, 0, 1, 5, 4, 2, 2, 1, 1, 0, }},
        new() { Label = "変数名９：社員数", EntryIndex = 7, Nodes = new int[] {1, 0, 1, 5, 5, 2, 2, 1, 1, 0, }},
        new() { Label = "変数名１０：資本金", EntryIndex = 7, Nodes = new int[] {1, 0, 1, 5, 6, 2, 2, 1, 1, 0, }},
        new() { Label = "変数１１：事業内容", EntryIndex = 9, Nodes = new int[] {1, 0, 1, 6, 2, 2, 1, 1, 0, }},
        new() { Label = "変数１２：事業内容具体例", EntryIndex = 9, Nodes = new int[] {1, 0, 1, 7, 2, 2, 2, 1, 1, 0, }},
        new() { Label = "変数１３：事業内容具体例文", EntryIndex = 9, Nodes = new int[] {1, 0, 1, 7, 3, 2, 2, 1, 1, 0, }},
        new() { Label = "変数１４：社員名", EntryIndex = 11, Nodes = new int[] {1, 0, 1, 8, 2, 2, 2, 1, 1, 0, }},
        new() { Label = "変数１５：社員の業務内容", EntryIndex = 11, Nodes = new int[] {1, 0, 1, 7, 2, 2, 1, 1, 0, }},
        new() { Label = "変数１６：社員名", EntryIndex = 11, Nodes = new int[] {1, 0, 1, 9, 2, 2, 2, 1, 1, 0, }},
        new() { Label = "変数１７：社員の業務内容", EntryIndex = 11, Nodes = new int[] {1, 0, 1, 6, 2, 2, 1, 1, 0, }},
        new() { Label = "変数１８：応募サイト", EntryIndex = 12, Nodes = new int[] {1, 0, 1, 9, 2, 2, 0, 1, 0, }},
    };
}
